.container {
  width: 100%;
  height: 100%;
  font-family: "Poppins";
  padding: 5rem;
}

@media (max-width: 768px) {
  .container {
    padding: 5rem;
  }
}

/* Small screens (mobile) */
@media (max-width: 480px) {
  .container {
    padding: 5rem;
  }
}

.mainContainer {
  justify-self: center;
  background-color: white;
  width: 135vh;
  min-height: 75vh;
  padding: 20px 40px 20px 40px;

  border-radius: 20px;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.15), 0px 0px 1px rgba(0, 0, 0, 0.1);
}
.userIcon {
  height: 80px;
  margin-top: 3px;
}

.leftHeader p {
  margin-top: 35px;
  font-size: 18px;
  margin-left: 20px;
  line-height: 20px;
}
.rightHeader {
  margin-top: 60px;
}
.upperContainer {
  margin-bottom: -15px;
}
.table {
  font-size: 16px;
}
.date {
  font-size: 14px;
  width: 175px;
}
.monthYear {
  font-size: 14px;

  width: 120px;
}
.description {
  font-size: 14px;
  width: 300px;
}
.title {
  font-size: 14px;
  width: 215px;
}
.filename {
  font-size: 14px;
  width: 145px;
}
.editIcon {
  color: #fff;
  background-color: #1b91e1;
  border-radius: 6px;
  padding: 10px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.25),
    0px 0px 0px 0px rgba(0, 0, 0, 0.2);
}
.editIcon:hover {
  opacity: 0.5;
}

.deleteIcon {
  color: #fff;
  background-color: #e7495c;
  border-radius: 6px;
  padding: 10px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.25),
    0px 0px 0px 0px rgba(0, 0, 0, 0.2);
}
.deleteIcon:hover {
  opacity: 0.5;
}
