.navContainer {
  font-family: "Poppins";
  width: 100%;
  position: absolute;
  top: 0;
  background-color: #222831;
}

.navItems {
  display: flex;
  justify-content: space-between;
  padding: 20px 200px 0px 200px;
}

.logoNav {
  color: white;
  margin-top: -2px;
  font-weight: 800;
  font-size: 2rem;
}
.newNavItems {
  justify-content: center;
  color: white;
  margin-top: 8px;
  font-weight: 400;
  font-size: 20px;
  text-transform: uppercase;
}

.rightNav {
  display: flex;
}

.logoutButton {
  background-color: "#fff";
  transition: opacity 0.1s ease-in-out 0.1s;
}

.logoutButton:hover {
  opacity: 0.3;
}
